.tours-hero {
    height: 200px;
    width: 981px;
    background-image: url(../images/tours/tours-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 29.5px;
}

.tours {
    min-height: 504px;
    min-width: 817px;
    text-align: center;
    font-size: xx-large;
    color: white;
    margin-top: 48px;
    
    .promo-images {
        height: 304px;
        margin: 0 auto;
        width: 961px;
        display: flex;
        justify-content: space-evenly;

        .promo-image1 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-01.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .text1 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }

            .learn-more {
                height: 40px;
                width: 133px;
                background-color: #79ADDC;
                font-size: medium;
                padding-top: 10px;
                margin-top: 100px;
                margin-left: 52px;
                border-radius: 100px;
            }
        }
    
        .promo-image2 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-02.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .text2 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }

            .learn-more {
                height: 40px;
                width: 133px;
                background-color: #79ADDC;
                font-size: medium;
                padding-top: 10px;
                margin-top: 100px;
                margin-left: 52px;
                border-radius: 100px;
            }
        }
    
        .promo-image3 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-03.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            

            .text3 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }

            .learn-more {
                height: 40px;
                width: 133px;
                background-color: #79ADDC;
                font-size: medium;
                padding-top: 10px;
                margin-top: 100px;
                margin-left: 52px;
                border-radius: 100px;
            }
        }
    }
}

.tours-row2 {
    min-height: 504px;
    min-width: 817px;
    text-align: center;
    font-size: xx-large;
    color: white;
    
    .row2images {
        height: 304px;
        width: 961px;
        display: flex;
        margin-top: -150px;
        margin-left: 194px;
        justify-content: space-evenly;

        .promo-image4 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-04.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text4 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    
    
        .promo-image5 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-05.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text5 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    
        .promo-image5 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-05.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text5 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    
        .promo-image6 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-06.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text6 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    }
}


.tours-row3 {
    min-height: 504px;
    min-width: 817px;
    text-align: center;
    font-size: xx-large;
    color: white;
    
    .row3images {
        height: 304px;
        width: 961px;
        display: flex;
        margin-top: -150px;
        margin-left: 194px;
        justify-content: space-evenly;

        .promo-image7 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-07.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text7 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    
    
        .promo-image8 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-08.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text8 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    
        .promo-image9 {
            height: 304px;
            width: 236px;
            background-image: url(../images/tours/tour-09.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            .promo-text9 {
                color: white;
                margin-top: 37px;
               font-size: 40px;
            }
    
            .learn-more {
                height: 40px;
                    width: 133px;
                    background-color: #79ADDC;
                    font-size: medium;
                    padding-top: 10px;
                    margin-top: 100px;
                    margin-left: 52px;
                    border-radius: 100px;
            }
        }
    }
}


.site-container {


    .hero {
        height: 431px;
        width: 981px;
        background-image: url(../images/tours/tour-01.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        margin-top: 45.5px;

        .hero-text {
            color: white;
            font-size: 70px;
            margin-top: 18px;
            margin-left: 30px;
        }

        .hero-text2 {
            color: white;
            font-size: 30px;
            text-align: right;
            padding-top: 300px;
            margin-right: 10px;
        }
    }
}

.Isreal-images {
    display: flex;
    justify-content: space-evenly;
    height: 347px;
    max-width: 981px;
    margin-left: 185px;
    margin-top: -20px;

    .isreal1 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-isreal/israel-tour-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 75px;
    }

    .isreal2 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-isreal/israel-tour-02.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .isreal3 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-isreal/israel-tour-03.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 68px;
    }
}

.day1 {
   margin-left: 180px;
   margin-top: 20px;

    .day1-title {
        color: black;
        font-size: 60px;
    }

    .day1-text {
        max-width: 981px;
        font-size: 23px;
    }
}

.day2 {
    margin-left: 180px;
    margin-top: 80px;
 
     .day2-title {
         color: black;
         font-size: 60px;
     }
 
     .day2-text {
         max-width: 981px;
         font-size: 23px;
     }
 }

 .day3 {
    margin-left: 180px;
    margin-top: 80px;
 
     .day3-title {
         color: black;
         font-size: 60px;
     }
 
     .day3-text {
         max-width: 981px;
         font-size: 23px;
     }
 }

 .learn-more {
    height: 40px;
        width: 133px;
        background-color: #79ADDC;
        font-size: medium;
        padding-top: 10px;
        margin-top: 150px;
        margin-left: 620px;
        border-radius: 100px;
        color: white;
        text-align: center;
        margin-bottom: 100px;
}

.hero2 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}


.usa-images {
display: flex;
justify-content: space-evenly;
height: 347px;
max-width: 981px;
margin-left: 185px;
margin-top: -20px;

.usa1 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-usa/usa-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 75px;
}

.usa2 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-usa/usa-tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.usa3 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-usa/usa-tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 68px;
}
}

.day1 {
margin-left: 180px;
margin-top: 20px;

.day1-title {
    color: black;
    font-size: 60px;
}

.day1-text {
    max-width: 981px;
    font-size: 23px;
}
}

.day2 {
margin-left: 180px;
margin-top: 80px;

 .day2-title {
     color: black;
     font-size: 60px;
 }

 .day2-text {
     max-width: 981px;
     font-size: 23px;
 }
}

.day3 {
margin-left: 180px;
margin-top: 80px;

 .day3-title {
     color: black;
     font-size: 60px;
 }

 .day3-text {
     max-width: 981px;
     font-size: 23px;
 }
}

.learn-more {
height: 40px;
    width: 133px;
    background-color: #79ADDC;
    font-size: medium;
    padding-top: 10px;
    margin-top: 150px;
    margin-left: 620px;
    border-radius: 100px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

.hero3 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}


.aus-images {
display: flex;
justify-content: space-evenly;
height: 347px;
max-width: 981px;
margin-left: 185px;
margin-top: -20px;

.aus1 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-aus/aus-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 75px;
}

.aus2 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-aus/aus-tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aus3 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-aus/aus-tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 68px;
}
}

.hero4 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}


.nz-images {
display: flex;
justify-content: space-evenly;
height: 347px;
max-width: 981px;
margin-left: 185px;
margin-top: -20px;

.nz1 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-nz/nz-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 75px;
}

.nz2 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-nz/nz-tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nz3 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-nz/nz-tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 68px;
}
}

.hero5 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}


.france-images {
display: flex;
justify-content: space-evenly;
height: 347px;
max-width: 981px;
margin-left: 185px;
margin-top: -20px;

.france1 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-france/france-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 75px;
}

.france2 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-france/france-tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.france3 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-france/france-tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 68px;
}
}

.hero6 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}


.egypt-images {
display: flex;
justify-content: space-evenly;
height: 347px;
max-width: 981px;
margin-left: 185px;
margin-top: -20px;

.egypt1 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-egypt/egypt-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 75px;
}

.egypt2 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-egypt/egypt-tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.egypt3 {
    height: 347px;
    width: 298px;
    background-image: url(../images/tours/tour-egypt/egypt-tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 68px;
}
}
.hero7 {
    height: 431px;
    width: 981px;
    background-image: url(../images/tours/tour-07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 45.5px;

    .hero-text {
        color: white;
        font-size: 70px;
        margin-top: 18px;
        margin-left: 30px;
    }

    .hero-text2 {
        color: white;
        font-size: 30px;
        text-align: right;
        padding-top: 300px;
        margin-right: 10px;
    }
}
.japan-images {
    display: flex;
    justify-content: space-evenly;
    height: 347px;
    max-width: 981px;
    margin-left: 185px;
    margin-top: -20px;
    
    .japan1 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-japan/japan-tour-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 75px;
    }
    
    .japan2 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-japan/japan-tour-02.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .japan3 {
        height: 347px;
        width: 298px;
        background-image: url(../images/tours/tour-japan/japan-tour-03.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 68px;
    }
    }

    .hero8 {
        height: 431px;
        width: 981px;
        background-image: url(../images/tours/tour-08.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        margin-top: 45.5px;
    
        .hero-text {
            color: white;
            font-size: 70px;
            margin-top: 18px;
            margin-left: 30px;
        }
    
        .hero-text2 {
            color: white;
            font-size: 30px;
            text-align: right;
            padding-top: 300px;
            margin-right: 10px;
        }
    }
    .can-images {
        display: flex;
        justify-content: space-evenly;
        height: 347px;
        max-width: 981px;
        margin-left: 185px;
        margin-top: -20px;
        
        .can1 {
            height: 347px;
            width: 298px;
            background-image: url(../images/tours/tour-canada/canada-tour-01.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 75px;
        }
        
        .can2 {
            height: 347px;
            width: 298px;
            background-image: url(../images/tours/tour-canada/canada-tour-02.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .can3 {
            height: 347px;
            width: 298px;
            background-image: url(../images/tours/tour-canada/canada-tour-03.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 68px;
        }
        }

        .hero9 {
            height: 431px;
            width: 981px;
            background-image: url(../images/tours/tour-09.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            margin-top: 45.5px;
        
            .hero-text {
                color: white;
                font-size: 70px;
                margin-top: 18px;
                margin-left: 30px;
            }
        
            .hero-text2 {
                color: white;
                font-size: 30px;
                text-align: right;
                padding-top: 300px;
                margin-right: 10px;
            }
        }
        .uae-images {
            display: flex;
            justify-content: space-evenly;
            height: 347px;
            max-width: 981px;
            margin-left: 185px;
            margin-top: -20px;
            
            .uae1 {
                height: 347px;
                width: 298px;
                background-image: url(../images/tours/tour-uae/uae-tour-01.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 75px;
            }
            
            .uae2 {
                height: 347px;
                width: 298px;
                background-image: url(../images/tours/tour-uae/uae-tour-02.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .uae3 {
                height: 347px;
                width: 298px;
                background-image: url(../images/tours/tour-uae/uae-tour-03.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: 68px;
            }
            }